/* General Style */
.indicator-item.active {
  background-color: #4A148C !important;
}

.nav-wrapper {
  background-color: #4A148C;
}

.page-footer {
  background-color: #4A148C !important;
}

.brand-logo {
  font-size: 1.2rem !important;
}

.projectDesc {
  background-color: #FFFFFF;
}

#sidenav-overlay {
display: none;
}

/*Centrage des titres*/
#mesInterets, #mesProjets, #mesCompetences, #monParcours, #aPropos {
  text-align: center;
}

/*Style du footer*/
.purpleClass {
  background-color: #4a148c !important;
}

/* Timeline en Materialize */
.card-image {
  max-height: 800px;
  max-width: 600px;
}

.timeline {
  position: relative;
}

.timeline .timeline-event {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.timeline .timeline-event .timeline-content {
  position: relative;
  width: calc(50% - 50px);
}

.timeline .timeline-event::before {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 1px);
  top: 0;
}

.timeline .timeline-event::after {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 1px);
  top: calc(50% + 30px);
}

.timeline .timeline-event:first-child::before {
  display: none;
}

.timeline .timeline-event:last-child::after {
  display: none;
}

.timeline .timeline-event:nth-child(even) .timeline-content {
  margin-left: calc(50% + 50px);
}

.timeline .timeline-event:nth-child(odd) .timeline-content {
  margin-left: 0;
}

.timeline .timeline-badge {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: #d2d2d2;
  top: calc(50% - 20px);
  right: calc(50% - 20px);
  border-radius: 50%;
  text-align: center;
  cursor: default;
}

.timeline .timeline-badge i {
  font-size: 25px;
  line-height: 40px;
}

@media (max-width: 600px) {
  .timeline .timeline-event .timeline-content {
    width: calc(100% - 70px);
  }
  .timeline .timeline-event::before {
    left: 19px;
  }
  .timeline .timeline-event::after {
    left: 19px;
  }
  .timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: 70px;
  }
  .timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 70px;
  }
  .timeline .timeline-badge {
    left: 0;
  }
}

/*SKILLS*/
#skillscontainer {
  text-align: center;
}

.skill {
  color: #fff;
  position: relative;
  display: inline-flex;
  margin: 2rem;
  transition: all 200ms ease;
}

.skill:hover {
  transform: scale(1.1);
}

.skill .skill__img {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  max-width: 100px;
  max-height: 100px;
  background-color: #fff;
  transform: rotate(45deg);
  overflow: hidden;
}

.skill .skill__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 60%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.skill .skill__content {
  padding: 1.1rem 0 0.5rem 3rem;
}

.skill .skill__content .skill__name {
  text-align: left;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

.skill .skill__content .skill__name #procent {
  float: right;
}

.skill .skill__content .skill__progress {
  position: relative;
  width: 350px;
  height: 15px;
  border-radius: 3px;
  background-color: #222;
}

@media (max-width: 630px) {
  .skill {
    margin: 2rem 0;
  }

  .skill .skill__img {
    height: 60px;
    width: 60px;
  }

  .skill .skill__content {
  padding: 0.5rem 0 0.8rem 1.5rem;
}

  .skill .skill__content .skill__progress {
    width: 200px;
  }
}

.skill .skill__content .skill__progress #progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #333;
  border-radius: 3px;
}



#html .skill__img {
  border-top: 3px solid #E86F4D;
  border-right: 3px solid #E55F39;
  border-bottom: 3px solid #E34F26;
  border-left: 3px solid #CF4823;
}

#html .skill__img img {
  width: 40%;
}

#html #progress {
  background-color: #E34F26;
  transition: all 1000ms;
}

#html.active #progress {
  width: 80%;
}


#js .skill__img {
  border-top: 3px solid #fcfcab;
  border-right: 3px solid #ffff84;
  border-bottom: 3px solid #f4f458;
  border-left: 3px solid #ffff00;
}

#js #progress {
  background-color: #f4f458;
  transition: all 850ms;
}

#js.active #progress {
  width: 60%;
}

#jQuery .skill__img {
  border-top: 3px solid #98def2;
  border-right: 3px solid #67c6e0;
  border-bottom: 3px solid #53c0dd;
  border-left: 3px solid #2e88a0;
}

#jQuery #progress {
  background-color: #53c0dd;
  transition: all 350ms;
}

#jQuery.active #progress {
  width: 60%;
}


#angularJS .skill__img {
  border-top: 3px solid #E59C9C;
  border-right: 3px solid #AF6464;
  border-bottom: 3px solid #994646;
  border-left: 3px solid #562727;
}

#angularJS #progress {
  background-color: #994646;
  transition: all 500ms;
}

#angularJS.active #progress {
  width: 60%;
}

#windows .skill__img {
  border-top: 3px solid #9CC4E5;
  border-right: 3px solid #6497AF;
  border-bottom: 3px solid #648EAF;
  border-left: 3px solid #274056;
}

#windows #progress {
  background-color: #648EAF;
  transition: all 500ms;
}

#windows.active #progress {
  width: 80%;
}

#macos .skill__img {
  border-top: 3px solid #66AE2C;
  border-right: 3px solid #CA2F36;
  border-bottom: 3px solid #EA811F;
  border-left: 3px solid #FCB930;
}

#macos #progress {
  background-color: #872c70;
  transition: all 500ms;
}

#macos.active #progress {
  width: 80%;
}

#linux .skill__img {
  border-top: 3px solid #E5D59C;
  border-right: 3px solid #AFA264;
  border-bottom: 3px solid #AFA264;
  border-left: 3px solid #565127;
}

#linux #progress {
  background-color: #FFCC00;
  transition: all 500ms;
}

#linux.active #progress {
  width: 80%;
}

#css .skill__img {
  border-top: 3px solid #B5E1FC;
  border-right: 3px solid #75B7D2;
  border-bottom: 3px solid #66BCCC;
  border-left: 3px solid #3C96C4;
}

#css #progress {
  background-color: #66BCCC;
  transition: all 600ms;
}

#css.active #progress {
  width: 80%;
}

.skill__img, .skill__content .skill__name, .skill__content .skill__progress {
  transition: all 500ms ease;
}

.skill.left .skill__img {
  box-shadow: 5px 15px 7px 0px rgba(0,0,0,0.25);
}
.skill.left .skill__name {
  text-shadow: -15px 10px 3px rgba(0, 0, 0, 0.25);
}
.skill.left .skill__progress {
  box-shadow: -15px 15px 7px 0px rgba(0,0,0,0.25);
}

.skill.right .skill__img {
  box-shadow: 15px 5px 7px 0px rgba(0,0,0,0.25);
}
.skill.right .skill__name {
  text-shadow: 15px 10px 3px rgba(0, 0, 0, 0.25);
}
.skill.right .skill__progress {
  box-shadow: 15px 15px 7px 0px rgba(0,0,0,0.25);
}
