#cd-timeline{
    position:relative;
    padding:2em 0
}
#cd-timeline:before{
    content:'';
    position:absolute;
    top:0;
    left:18px;
    height:100%;
    width:4px;
    background:#D7E4ED
}
@media only screen and (min-width: 1170px){
    #cd-timeline:before{
        left:50%;
        margin-left:-2px
    }
}
#cd-timeline .cd-timeline-block{
    position:relative;
    margin:2em 0
}
@media only screen and (min-width: 1170px){
    #cd-timeline .cd-timeline-block{
        margin:4em 0
    }
}
#cd-timeline .cd-timeline-block .opquast{
    width:50%
}
#cd-timeline .cd-timeline-block:after{
    content:"";
    display:table;
    clear:both
}
#cd-timeline .cd-timeline-block:first-child{
    margin-top:0
}
@media only screen and (min-width: 1170px){
    #cd-timeline .cd-timeline-block:first-child{
        margin-top:0
    }
}
#cd-timeline .cd-timeline-block:last-child{
    margin-bottom:0
}
@media only screen and (min-width: 1170px){
    #cd-timeline .cd-timeline-block:last-child{
        margin-bottom:0
    }
}
#cd-timeline .cd-timeline-block .cd-timeline-img{
    position:absolute;
    top:0;
    left:0;
    width:40px;
    height:40px;
    border-radius:50%;
    box-shadow:0 0 0 4px white,inset 0 2px 0 rgba(0,0,0,0.08),0 3px 0 4px rgba(0,0,0,0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (min-width: 1170px){
    #cd-timeline .cd-timeline-block .cd-timeline-img{
        width:60px;
        height:60px;
        left:50%;
        margin-left:-30px;
        -webkit-transform:translateZ(0);
        -webkit-backface-visibility:hidden
    }
}
#cd-timeline .cd-timeline-block .cd-timeline-img img{
    display:block;
    width: 65%;
    height: 65%;
    position:relative;
}
@media only screen and (min-width: 1170px){
    #cd-timeline .cd-timeline-block .cd-timeline-img.is-hidden{
        visibility:hidden
    }
    #cd-timeline .cd-timeline-block .cd-timeline-img.bounce-in{
        visibility:visible;
        -webkit-animation:cd-bounce-1 0.6s;
        -moz-animation:cd-bounce-1 0.6s;
        animation:cd-bounce-1 0.6s
    }
}
#cd-timeline .cd-timeline-block .cd-timeline-content{
    position:relative;
    margin-left:60px;
    background:#20262d;
    border-radius:0.25em;
    padding:1em
}
#cd-timeline .cd-timeline-block .cd-timeline-content .job-title{
    font-weight:bold;
    text-decoration:underline
}
@media only screen and (min-width: 1170px){
    #cd-timeline .cd-timeline-block .cd-timeline-content{
        margin-left:0;
        padding:1.6em;
        width:45%
    }
}
#cd-timeline .cd-timeline-block .cd-timeline-content:before{
    content:'';
    position:absolute;
    top:16px;
    right:100%;
    height:0;
    width:0;
    border:7px solid transparent;
    border-right:7px solid #20262d
}
@media only screen and (min-width: 1170px){
    #cd-timeline .cd-timeline-block .cd-timeline-content:before{
        top:24px;
        left:100%;
        border-color:transparent;
        border-left-color:#20262d
    }
}
#cd-timeline .cd-timeline-block .cd-timeline-content:after{
    content:"";
    display:table;
    clear:both
}
#cd-timeline .cd-timeline-block .cd-timeline-content h2{
    color:#303e49
}
#cd-timeline .cd-timeline-block .cd-timeline-content p{
    margin:1em 0;
    line-height:1.6
}
#cd-timeline .cd-timeline-block .cd-timeline-content .cd-date{
    display:inline-block;
    float:left;
    padding:.8em 0;
    opacity:.7
}
@media only screen and (min-width: 1170px){
    #cd-timeline .cd-timeline-block .cd-timeline-content .cd-date{
        position:absolute;
        width:100%;
        left:122%;
        top:6px
    }
}
@media only screen and (min-width: 1170px){
    #cd-timeline .cd-timeline-block:nth-child(even) .cd-timeline-content{
        float:right
    }
    #cd-timeline .cd-timeline-block:nth-child(even) .cd-timeline-content:before{
        top:24px;
        left:auto;
        right:100%;
        border-color:transparent;
        border-right-color:#20262d
    }
    #cd-timeline .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date{
        left:auto;
        right:122%;
        text-align:right
    }
}
@media only screen and (min-width: 1170px){
    .cssanimations .cd-timeline-block .cd-timeline-content.is-hidden{
        visibility:hidden
    }
    .cssanimations .cd-timeline-block .cd-timeline-content.bounce-in{
        visibility:visible;
        -webkit-animation:cd-bounce-2 0.6s;
        -moz-animation:cd-bounce-2 0.6s;
        animation:cd-bounce-2 0.6s
    }
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in{
        -webkit-animation:cd-bounce-2-inverse 0.6s;
        -moz-animation:cd-bounce-2-inverse 0.6s;
        animation:cd-bounce-2-inverse 0.6s
    }
}
@-webkit-keyframes cd-bounce-1{
    0%{
        opacity:0;
        -webkit-transform:scale(0.5)
    }
    60%{
        opacity:1;
        -webkit-transform:scale(1.2)
    }
    100%{
        -webkit-transform:scale(1)
    }
}
@-moz-keyframes cd-bounce-1{
    0%{
        opacity:0;
        -moz-transform:scale(0.5)
    }
    60%{
        opacity:1;
        -moz-transform:scale(1.2)
    }
    100%{
        -moz-transform:scale(1)
    }
}
@keyframes cd-bounce-1{
    0%{
        opacity:0;
        -webkit-transform:scale(0.5);
        -moz-transform:scale(0.5);
        -ms-transform:scale(0.5);
        -o-transform:scale(0.5);
        transform:scale(0.5)
    }
    60%{
        opacity:1;
        -webkit-transform:scale(1.2);
        -moz-transform:scale(1.2);
        -ms-transform:scale(1.2);
        -o-transform:scale(1.2);
        transform:scale(1.2)
    }
    100%{
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
}
@-webkit-keyframes cd-bounce-2{
    0%{
        opacity:0;
        -webkit-transform:translateX(-100px)
    }
    60%{
        opacity:1;
        -webkit-transform:translateX(20px)
    }
    100%{
        -webkit-transform:translateX(0)
    }
}
@-moz-keyframes cd-bounce-2{
    0%{
        opacity:0;
        -moz-transform:translateX(-100px)
    }
    60%{
        opacity:1;
        -moz-transform:translateX(20px)
    }
    100%{
        -moz-transform:translateX(0)
    }
}
@keyframes cd-bounce-2{
    0%{
        opacity:0;
        -webkit-transform:translateX(-100px);
        -moz-transform:translateX(-100px);
        -ms-transform:translateX(-100px);
        -o-transform:translateX(-100px);
        transform:translateX(-100px)
    }
    60%{
        opacity:1;
        -webkit-transform:translateX(20px);
        -moz-transform:translateX(20px);
        -ms-transform:translateX(20px);
        -o-transform:translateX(20px);
        transform:translateX(20px)
    }
    100%{
        -webkit-transform:translateX(0);
        -moz-transform:translateX(0);
        -ms-transform:translateX(0);
        -o-transform:translateX(0);
        transform:translateX(0)
    }
}
@-webkit-keyframes cd-bounce-2-inverse{
    0%{
        opacity:0;
        -webkit-transform:translateX(100px)
    }
    60%{
        opacity:1;
        -webkit-transform:translateX(-20px)
    }
    100%{
        -webkit-transform:translateX(0)
    }
}
@-moz-keyframes cd-bounce-2-inverse{
    0%{
        opacity:0;
        -moz-transform:translateX(100px)
    }
    60%{
        opacity:1;
        -moz-transform:translateX(-20px)
    }
    100%{
        -moz-transform:translateX(0)
    }
}
@keyframes cd-bounce-2-inverse{
    0%{
        opacity:0;
        -webkit-transform:translateX(100px);
        -moz-transform:translateX(100px);
        -ms-transform:translateX(100px);
        -o-transform:translateX(100px);
        transform:translateX(100px)
    }
    60%{
        opacity:1;
        -webkit-transform:translateX(-20px);
        -moz-transform:translateX(-20px);
        -ms-transform:translateX(-20px);
        -o-transform:translateX(-20px);
        transform:translateX(-20px)
    }
    100%{
        -webkit-transform:translateX(0);
        -moz-transform:translateX(0);
        -ms-transform:translateX(0);
        -o-transform:translateX(0);
        transform:translateX(0)
    }
}
body{
    background-color:black;
    color:whitesmoke
}
section{
    padding-top:20px
}
a:not(.nav-link){
    color:whitesmoke;
    text-decoration:underline
}
#navbar{
    background-color:black
}
#navbar .navbar-brand{
    text-decoration:none
}
#banner{
    background-image:url("../img/milky-way-banner.jpg");
    background-attachment:fixed;
    background-position:top;
    background-repeat:no-repeat;
    background-size:100%;
    height:300px
}
#banner h1{
    color:whitesmoke;
    margin-top:10%;
    text-align:center
}
#name{
    background:url("../img/milky-way-title-background.jpg") repeat;
    background-clip:text;
    -webkit-background-clip: text;
    background-position:40% 50%;
    color:transparent;
    font-size:3rem;
    margin:5%;
    text-align:center
}
.sectionTitle{
    align-items:center;
    color:whitesmoke;
    display:flex;
    margin:7%
}
.sectionTitle:before,.sectionTitle:after{
    border-bottom:1px solid whitesmoke;
    content:'';
    flex:1;
    margin:0 40px
}
.sectionSubTitle{
    border-bottom:1px solid whitesmoke;
    color:whitesmoke;
    margin:3%;
    padding-bottom:1%
}
 